canvas {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 75px;
}

#vehicles_report_loader,
#vehicle_images_report_loader {
  display: flex;
  position: absolute;
}

/*
[qor-icon-name*="Review"] > a::before {
  	content: 'rate_review';
}

[qor-icon-name*="Categories"] > a::before {
  	content: 'category';
}

[qor-icon-name*="Vehicle"] > a::before {
  	content: 'directions_car';
}

[qor-icon-name*="Brand"] > a::before {
  	content: 'branding_watermark';
}

[qor-icon-name*="Website"] > a::before {
  	content: 'web';
}
*/