[qor-icon-name*="oscaro.com"] > a::before {
    content: url("https://oscaro.media/mu/layout/favicon/blue/icoscaro76.png")!important;
    transform: scale(.2);
}

[qor-icon-name*="piecesetpneus.com"] > a::before {
    content: url("https://www.piecesetpneus.com/favicon/xfavicon-16x16.png.pagespeed.ic.bY4SOS1bhx.webp")!important;
}


#vehicles_report_loader,
#vehicle_images_report_loader {
  display: flex;
  position: absolute;
}
